@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --bg: #0e1812;
  --accent: #52b788;
  --accent-2: #f59e0b;
}

body {
  margin: 0;
  background-color: var(--bg);
  color: white;
  font-family: 'DM Sans', sans-serif;
}